<div class="input-field">
    <input value="{% if recherche is defined %}{{ recherche }}{% endif %}" id="search-input" type="text" class="validate autocomplete">
    <label class="active truncate" for="input">Rechercher un produit</label>
</div>